* {
    padding: 0;
    margin: 0;
}

.background_image {
    background-image: url(./IMG-20220103-WA0010.jpg);
    height: 120vh;
    max-height: 100%;
    width: 100%;
    max-width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 50%;


}

#nav_bar {
    position: sticky;
    top: 0;
    z-index: 15px;
}



.navbar a {
    color: orangered;
    text-transform: uppercase;
    font-size: 50px;


}

.navbar a #nary {
    color: greenyellow;
    font-family: 'Pushster', cursive;
    text-transform: uppercase;

}

.navbar-brand {
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
    color: orangered;
}

.navbar .fa {
    color: white;
    background-color: orangered;
}

.navbar-nav li {
    padding: 0 12px;
}

.navbar-nav li a {
    color: orangered !important;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    transition: 0.2s;


}


.navbar-nav li a:hover {
    color: rgb(168, 252, 11) !important;
    z-index: 2px;


}




.navbar ul li a :hover {
    transition: 0.4s ease;
    background-color: orangered;
}



#message {
    text-align: center;
    margin-top: 15%;
    font-weight: bold;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(8, 7, 1), greenyellow, rgba(0, 0, 0, 0.897));

    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    background-clip: text;
    -webkit-text-fill-color: rgba(122, 7, 7, 0);
}



@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}





/* why us */
.why-us {
    margin-top: 6%;
    text-align: center;
}

#mision {
    color: orangered;
    font-family: 'Pushster', cursive;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;

}

#vision {
    color: orangered;
    font-family: 'Pushster', cursive;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#sub_mision {
    color: greenyellow;
}

#sub_vision {
    color: greenyellow;
}

#para_vi_mision {
    color: darkgrey;
    width: 100%;
    max-width: 100%;
}


#About {
    text-align: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), 50%, rgba(0, 0, 0, 0.5), 50%), url(./maxresdefault.jpg);
}


#About::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;


}



#h2 {
    text-align: center;
    padding-top: 15px;
    color: orangered;
    font-family: 'Pushster', cursive;

}

.card-title {
    color: orangered;
    text-align: center;
}

.card :hover {
    transition: 0.4s ease;
    color: greenyellow;
    cursor: pointer;




}


/* gallery section */
#hgallary {
    text-align: center;
    color: orangered;
    font-family: 'Pushster', cursive;
    text-transform: uppercase;
    margin-top: 30px;

}

#gallery_image{
   
    padding-top: 5%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

/* education section */
#edu {
    max-height: 700px;
    padding-top: 5%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;
}


#charati_image{
    padding-top: 5%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

/* achievements section */


#Achievements {
    background-color: orangered;
}

#ach {
    text-align: center;
}

/* contact section */

#Contact_Us {
    height: 500px;
    margin-top: 0%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), 50%, rgba(0, 0, 0, 0.5), 50%), url(./maxresdefault.jpg);
}


.bt {
    background-color: orangered;
}

#h22 {
    color: orangered;
    margin-left: auto;
}

#p22 {
    color: white;
}

#middle {
    background-color: black;
}

#img44 {
    height: 70%;
}




#login {
    color: white;
}

.lower {
    margin-top: 5%;
}

#h45 {
    color: orangered;
    text-align: center;
    font-family: 'Pushster', cursive;

}





.container a {
    list-style: none;
    color: gray;
    text-decoration: none;
}

.lower .fa {
    background-color: orangered;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 5px;
}

#rules {
    margin: 35px 20px 20px;
    text-align: center;
}

#pdf {
    color: greenyellow;
}



hr {
    background-color: orangered;
}


#subject {
    margin-bottom: 30px;
}

#form_h {
    text-align: center;
    margin-top: 20px;
}

#form {
    display: block;
    max-width: 500px;
    background-color:lightgrey;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px;
    border: 2px solid white;
    border-color: none;

}

#submit_btn {
    color: lightgray;
    margin-top: 10px;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color:white;

}

.text_input {
    width: 100%;
    background-color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid lightgrey;
    border-color: none;
}

#form label {
    line-height: 2.8em;
}

#form textarea {
    min-height: 100px;
    font-size: 14px;
}




h3 {
    color: orangered;
    font-family: 'Pushster', cursive;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

.education {
    margin-top: 40px;
}

.charity {
    margin-top: 40px;
}

#ico {
    width: 50px;
    height: 40px;
    margin: auto;
    color: orangered;


}

#para {
    color: gray;
    margin: auto;
    padding-left: 5px;
}







#event {
    text-align: center;
    margin-top: 50px;
}

#up {
    color: chocolate;
    font-family: 'Pushster', cursive;

}

.day {
    font-size: 40px;
    color: darkgreen;
    display: inline;
}