

.navbar-brand{
    color:orangered ;
}
#logo{
    color: orangered;
    font-size:50px ;
    font-family:'Pushster', cursive  ;

    
}
.navbar ul li a :hover{
    transition:0.4s ease ;
    background-color:  orangered;
}

.card :hover{transition:0.4s ease ;
  color:  orangered;
    cursor: pointer;
     
        
        
    
}

#About{position:relative ;
    z-index: 2;
    overflow: hidden;
background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) ,url(./maxresdefault.jpg);
    

}
#About::after{
    content: '';
    width: 100%;
    height:100% ;
    position: absolute;
    
    
}

.about_us{
    text-align: center;
}


#h2{
    text-align: center;
}
#Achievements{
    background-color: orangered;
}
#ach{
    text-align: center;
}

#Contact_Us{height:500px ;
    margin-top:0% ;
background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) ,url(./maxresdefault.jpg);

}
.bt{
    background-color: orangered;
}
  
#h22{
    color:orangered ;
    margin-left: auto;
}
#p22{
    color:white ;
}

#middle{
    background-color:black ;
}

#img44{
    height: 70%;
}


#hp1{
    background-color:orangered ;
}

#login{
    color: white;
}
.lower{
    margin-top:5% ;
}
#h45{
    color: orangered;
    text-align: center;
    font-family:'Pushster', cursive  ;
    
}

#img7{
    width:20px ;
}

#hgallary{
    text-align: center;
    color: orangered;
    font-family:'Pushster', cursive  ;
    
}