<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


  <script>
    $(document).ready(function () {
      $('#table1, #table3').DataTable();
    });
  </script>


  <title>achievements</title>
</head>

<body>
  <!-------nav----->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light ">

    <div class="container-fluid"><span><img id="ico" src="/static/photo.jpg" alt=""></span>
        <a class="navbar-brand" id="logo" href="#">VISIONARY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="about">About</a>
          </li>





          <li class="nav-item">
            <a class="nav-link  active " href="achievements">Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active " href="contact">Contact Us</a>
          </li>
        </ul>

      </div>
    </div>




  </nav>


  <!-------achievements------>
  <section id="Achievements">
    <h1 id="ach">ACHIEVEMENTS</h1>
    <div class="container 100% mt-5">
      <div class="row">
        <div class="col-12  col-xl-12 col-md-12 col-sm-12 col-xs-12   ">
          <table id="table1" class="table table-success table-striped">
            <thead>
              <H1>Candidates of 2019</H1>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Points</th>

                <th scope="col">Grade</th>
                <th scope="col">Course</th>
                <th scope="col">University</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Dalvin</td>
                <td>81</td>

                <td>A</td>
                <td>Electrical and Electronic Eng</td>
                <td>University of Nairobi</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Millicents</td>
                <td>78</td>
                <td>A-</td>
                <td>Electrical and Electronic Eng</td>
                <td>Technical University of kenya</td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ayub</td>
                <td>77</td>
                <td>A-</td>
                <td>Electrical and Electronic Eng</td>
                <td>Technical University of kenya</td>

              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Lucy</td>
                <td>74</td>
                <td>A-</td>
                <td>Nursing</td>
                <td>Meru university</td>

              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Dennis</td>
                <td>70</td>
                <td>B+</td>
                <td>Industrial Eng</td>
                <td>Baraton University</td>

              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Yvonne</td>
                <td>66</td>
                <td>B</td>
                <td>Nursing</td>
                <td>Meru University</td>

              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Joshphat</td>
                <td>56</td>
                <td>B-</td>
                <td>Education</td>
                <td>Moi University </td>

              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Sharon</td>
                <td>48</td>
                <td>C+</td>
                <td>Art</td>
                <td>Eldoret</td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-xs-12    ">

          <table id="table3" class="table table-success table-striped ">
            <thead>
              <h1>Candidates Of 2020/2021</h1>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
                <th scope="col">Grade</th>
                <th scope="col">Course</th>
                <th scope="col">University</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Chrispine</td>
                <td>82</td>
                <td>A </td>
                <td>Medicine and Surgery</td>
                <td>University of Nairobi</td>

              </tr>

              <tr>
                <th scope="row">2</th>
                <td>Roy</td>
                <td>81</td>
                <td>A </td>
                <td>Medicine and Surgery</td>
                <td>University of Nairobi</td>

              </tr>

              <tr>
                <th scope="row"> 3</th>
                <td>Kenna</td>
                <td>80</td>
                <td>A-</td>
                <td>Electrical and Electronic</td>
                <td>Kenyatta University</td>

              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Amos</td>
                <td>79</td>
                <td>A-</td>
                <td>Mechanical Engineering</td>
                <td>Jomo Kenyatta University</td>
              </tr>

              <tr>
                <th scope="row">5</th>
                <td>Jecinter</td>
                <td>74</td>
                <td>A-</td>
                <td>Nursing</td>
                <td>Dedan kimathi</td>
              </tr>



              <tr>
                <th scope="row">6</th>
                <td>Bevin</td>
                <td>73</td>
                <td>B+</td>
                <td>Vetinary medicine</td>
                <td>Egerton</td>
              </tr>

              <tr>
                <th scope="row">7</th>
                <td>David</td>
                <td>69</td>
                <td>B+</td>
                <td>Mechanical Eng</td>
                <td>Technical University of kenya</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Morgan</td>
                <td>67</td>
                <td>B+</td>
                <td>Law</td>
                <td>Dedan kimathi</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>William</td>
                <td>66</td>
                <td>B</td>
                <td>Mechanical Eng</td>
                <td>Meru University</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Tyson</td>
                <td>66</td>
                <td>B</td>
                <td>Economic</td>
                <td>Maseno</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>Rose</td>
                <td>66</td>
                <td>B</td>
                <td>Pathology</td>
                <td>KMTC</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>Levine</td>
                <td>64</td>
                <td>B</td>
                <td>Nursing</td>
                <td>KMTC</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td>Bonnie</td>
                <td>64</td>
                <td>B</td>
                <td>Surveying Eng</td>
                <td>Technical University of Kenya</td>
              </tr>

              <tr>
                <th scope="row">14</th>
                <td>Vida</td>
                <td>60</td>
                <td>B</td>
                <td>Mechanical Eng</td>
                <td>Eldoret</td>
              </tr>
              <tr>
                <th scope="row">15</th>
                <td>Juliet</td>
                <td>60</td>
                <td>B</td>
                <td>Processing Eng</td>
                <td>Jomo Kenyatta University</td>
              </tr>
              <tr>
                <th scope="row">16</th>
                <td>Charls</td>
                <td>60</td>
                <td>B</td>
                <td>Education</td>
                <td>Pwani University</td>
              </tr>
              <tr>
                <th scope="row">17</th>
                <td>Belvin</td>
                <td>56</td>
                <td>B-</td>
                <td>Nursing</td>
                <td>KMTC</td>
              </tr>
              <tr>
                <th scope="row">18</th>
                <td>Sharon</td>
                <td>56</td>
                <td>B-</td>
                <td>Education</td>
                <td>Eldoret</td>
              </tr>
              <tr>
                <th scope="row">19</th>
                <td>Belinda</td>
                <td>49</td>
                <td>c+</td>
                <td>Art</td>
                <td>University Of Nairobi</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>





  </section>

  <div class="container">
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
          integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <canvas id="bar-chart" width="800" height="450"></canvas>


        <script>

          new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
              labels: ["2019 (8 students)", "2020/2021 (19 students)",],
              datasets: [
                {
                  label: "points (% in percentage)",
                  backgroundColor: ["#3e95cd", "#8e5ea2"],
                  data: [71.16, 73.9]
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Predicted points'
              }
            }
          });
        </script>
      </div>

    </div>
  </div>



  <!----------end of achievements------->




  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h4 style=" background-color:orangered ; color: orangered;"
            class="section-title ff-secondary text-start text-primary fw-normal mb-4">Organisation </h4>
          <a style="color:white ;" class="btn btn-link" href="">About Us</a>
          <a style="color:white ;" class="btn btn-link" href="">Contact Us</a>
          <a style="color:white ;" class="btn btn-link" href="">Reservation</a>
          <a style="color:white ;" class="btn btn-link" href="">Privacy Policy</a>
          <a style="color:white ;" class="btn btn-link" href="">Terms & Condition</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 style="color:orangered ;background-color: orangered;"
            class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
          <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>32 Street, Siaya, ugunja</p>
          <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+254708712423</p>
          <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 style="color:orangered ;background-color: orangered;"
            class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
          <h5 class="text-light fw-normal">Monday - Saturday</h5>
          <p>010AM - 6PM</p>
          <h5 class="text-light fw-normal">Sunday</h5>
          <p>2pm - 5PM</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 style="color:orangered ;background-color: orangered;"
            class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
          <p>Education is the most powerful weapon which you can use to change the world.</p>
          <div class="position-relative mx-auto" style="max-width: 400px;">
            <input style="border-color: orangered;" class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text"
              placeholder="Your email">
            <button style="background-color: orangered;" type="button"
              class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a style="color:white ;text-decoration: none;" class="border-bottom" href="#">Your Site Name</a>, All
            Right Reserved.


            Designed By <a style="color:white ;font-family:'Pushster', cursive ;text-decoration: none;"
              class="border-bottom" href="https://htmlcodex.com">David Clintoo</a><br><br>
            Distributed By <a style="color:white ;font-family:'Pushster', cursive ;" class="border-bottom"
              href="https://themewagon.com" target="_blank">visionary Organisation limited</a>
          </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu">
              <a style="color:white ;" href="">Home</a>
              <a style="color:white ;" href="">Cookies</a>
              <a style="color:white ;" href="">Help</a>
              <a style="color:white ;" href="">FQAs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>






</body>

</html>